.lesson_oneshoice__title__timer_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

.lesson_oneshoice__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 38.73px;
    color: var(--black);
}

.timer__answers_wrapper{
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.correct__answers{
    display: flex;
    align-items: center;
    gap: 21px;
}

.correct__answers span{
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--black2);
    font-size: 24px;
    line-height: 29.05px;
    font-weight: 400;
}

.html__container{
    margin: 29px 0 32px;
    border: 1px solid var(--grey2);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.01);
}

.html__container_title{
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.html__container_title span{
    font-weight: 700;
    font-size: 16px;
    line-height: 19.36px;
    color: var(--black);
}

.line{
    height: 1px;
    background-color: var(--grey2);
    width: 100%;
}

.options__wrapper{
    padding: 24px 28px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: 235px;
}

.option{
    display: flex;
    align-items: center;
    gap: 8px;
}

.answers__wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.answers__wrapper button{
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    font-weight: 400;
    color: var(--black2);
    font-size: 24px;
    line-height: 29.05px;
    gap: 24px;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--grey2);
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 16px;
    cursor: pointer;
}

.answers__wrapper button:disabled{
    color: var(--grey2);
}

.answers__wrapper button span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border: 1px solid var(--grey2);
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 8px;
}

.answers{
    display: flex;
    align-items: center;
    gap: 5px;
}

.answer_span{
    display: inline-block;
    background-color: var(--orange2);
    min-width: 48px;
    height: 21px;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--black)
}

.correct_btn{
    color: var(--green3) !important;
}

.incorrect_btn{
    color: var(--red) !important;
}
.submit{
    padding: 16px;
    margin: 30px 0;
    color: var(--black2);
    font-size: 24px;
    line-height: 29.05px;
    outline: none;
    border: 1px solid var(--grey2);
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 16px;
    cursor: pointer;
}

.submit:disabled{
    color: var(--grey2);
}